*::before, *::after {
    box-sizing: border-box; 
}

html {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    color: #444444;
}

body {
    margin: 1rem 0;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

.container {
    max-width: 25vw;
    margin: 0 auto;
    padding: 0 15px; 
}

.cards {
    flex: 1 1 25%;
    position: relative;
    border: 1px solid #efefef;
    margin: 15px 0;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.cards:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2); 
}

.cards h2 {
    margin: 0;
    font-size: 1.75rem;
    line-height: 1.1;
}

.card-img {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
