.navbar {
  padding: 0rem 2.2rem;
}

.navbar-item img {
  max-height: 3.75rem;
}

.button {
  border-radius: 0px;
}

#pagination-box {
  display: flex;
  justify-content: center;
}

.input {
  width: 3.5%;
  /* border: none; */
}
/* .section {
  padding: 5.1rem 1.5rem 0.5rem;
} */

.footer {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 768px) {
  /* main {
    background: rgb(153, 202, 186);
  } */
  /*  .button {
    font-size: 0.8rem;
  }
  .input {
    font-size: 0.8rem;
  } */
  .is-size-5 {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .span-text {
    display: none;
  }
}
/* .navbar { */
/* height: 12vh; */
/* padding: 2em; *
/* justify-content: center; */
/* align-items: center; */
/* } */
